// fonts

$light-font: "Quicksand-Regular", sans-serif
$medium-font: "Quicksand Medium", sans-serif
$bold-font:  'Quicksand', sans-seri

// color 
    
$transparent: transparent
$black: #000
$light-dark: #333333
$white: #fff
$light-blue: #dfedff
$blue: #0f7bff
$dark-blue: #0063dd
$gray: #dcdcdc  
$gray-nav: #929292
$bg: #f5fcfd
$light-pink: #f5dfff
$light-green: #dfffe3
